<!DOCTYPE html>
<html lang="en">
  {% include "_partials/head.njk" %}
  <body>
    <div class="container-fluid">
      <div class="d-flex justify-content-center">
        {% block body %}
        {% endblock %}
      </div>
    </div>
  </body>
</html>
